<div class="flex flex-col h-full">
  <h2 class="p-2 flex-none bg-gray-800 text-gray-600 flex justify-between">
    <div class="py-1">Output program ({{ length }} bytes)</div>
    <app-binary-toggle
      [name]="'output-mode'"
      (change)="onToggle($event)"
      [labelon]="'Hexadecimal'"
      [labeloff]="'Decimal'"
    ></app-binary-toggle>
  </h2>
  <textarea
    class="bg-transparent flex-1 resize-none font-mono block w-full p-2"
    #text
    (click)="text.select()"
    [value]="json"
    readonly
  ></textarea>
</div>
