<section class="flex h-full text-gray-400">
  <aside class="flex-none p-4 shadow-lg overflow-y-auto collapsible bg-gray-900" [class.collapsed]="!showSidebar">
    <app-flip-toggle [name]="'sidebar'" (change)="showSidebar = $event"></app-flip-toggle>

    <div class="flex justify-between collapsed">
      <button
        (click)="onRun()"
        class="bg-primary text-gray-800 hover:text-black text-left px-3 py-2 rounded-md text-sm font-medium"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"
          />
        </svg>
      </button>
    </div>
    <div class="flex justify-between expanded">
      <input
        type="text"
        name="device"
        [value]="device"
        (change)="onDeviceChange($event)"
        placeholder="Device name"
        class="
          text-gray-300
          border border-solid border-gray-700
          hover:bg-gray-700 hover:text-white
          text-left
          px-3
          py-1
          rounded-md
          text-sm
          font-medium
          bg-gray-700
        "
      />
      <button
        (click)="onRun()"
        class="text-gray-800 hover:text-black text-left px-3 py-2 rounded-md text-sm font-medium"
        [class.bg-primary]="canRunRemotely"
        [class.bg-gray-400]="!canRunRemotely"
      >
        Run on esp8266
      </button>
      <!-- <select
        class="bg-primary text-gray-800 hover:text-black text-left px-3 py-2 rounded-md text-sm font-medium"
        (change)="onExampleSelect($event)"
      >
        <option>-- Examples --</option>
        <template *ngFor="let example of examples">
          <option [value]="example.id" [innerText]="example.title"></option>
        </template>
      </select> -->
    </div>
    <div class="expanded">
      <hr class="border-0 border-solid border-t-2 border-primary my-4 opacity-50" />
      <code-docs></code-docs>
    </div>
  </aside>
  <app-page-divider [mode]="'vertical'"></app-page-divider>
  <main class="flex flex-col flex-grow items-start w-2/3">
    <app-code-editor class="flex-1" (codechange)="onCodeChange($event)"></app-code-editor>

    <div class="flex-auto w-full output flex flex-col">
      <div class="relative">
        <div
          [innerHTML]="errorMessage"
          [class.hidden]="!errorMessage"
          class="
            bg-primary
            text-gray-800
            px-3
            py-2
            text-sm
            font-mono font-medium
            w-full
            absolute
            whitespace-pre-wrap
            bottom-0
            left-0
            right-0
            z-10
          "
        ></div>
      </div>

      <app-page-divider [mode]="'horizontal'"></app-page-divider>

      <app-code-output class="flex-grow" [binary]="program"></app-code-output>
    </div>
  </main>
</section>
